<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Yevhen Holota, Herman Mossur">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>'Марафон "Пекельний тиждень"'</title>

    <meta name="title" content='Марафон "Пекельний тиждень"' />
    <meta name="description" content="Твій впевнений старт в професії за 7 днів" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://moveit.academy/" />
    <meta property="og:title" content='Марафон "Пекельний тиждень"' />
    <meta property="og:description" content="Твій впевнений старт в професії за 7 днів" />
    <meta property="og:image" content="favicon.ico" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://moveit.academy/" />
    <meta property="twitter:title" content='Марафон "Пекельний тиждень"' />
    <meta property="twitter:description" content="Твій впевнений старт в професії за 7 днів" />
    <meta property="og:image" content="favicon.ico" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!-- <script async defer src="https://player.vimeo.com/api/player.js"></script> -->
  </body>
</html>
